
/* Styles */

		
@font-face {
    font-family: 'miss_donna_regularregular';
    src: url('miss_donna_regular-webfont.eot');
    src: url('miss_donna_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('miss_donna_regular-webfont.woff') format('woff'),
         url('miss_donna_regular-webfont.ttf') format('truetype'),
         url('miss_donna_regular-webfont.svg#miss_donna_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
		
body {
    font-family:  'miss_donna_regularregular';
    margin: 0px;
	padding: 0px;
	background:black;
}
		
a{
	color:black;
	text-decoration:none;
}
		
#wrapper{
	width:1280px;
	margin-left:auto;
	margin-right:auto;
}
		
h1 {
    font-size: 80px;
    font-weight: normal;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:20px;
    text-align:center;
}
		
		
.titletextcontainer{
	background: rgba(233, 225, 211, 0.5);
	width:615px;
	height:125px;
	position:relative;
	top:415px;
	float:right;
}
		
.textcontainer{
	background: rgba(233, 225, 211, 0.5);
	width:1280px;
	height:125px;
	position:relative;
	top:415px;
	float:right;
}


.photo {
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
}

.photo2 {
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
}

.photo3 {
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
}

.photo4 {
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
}

.spacebar {
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 50px;
    position: relative;
    opacity:.75;
}

.landing {
    background-image: url(../images/croppedlanding.jpg);
}

.about {
    background-image: url(../images/shopjpgnobar.jpg);
}
		
.about h1{
	text-align:left;
	padding-left:40px;
}
		
.store {
    background-image: url(../images/aboutjpgnobar.jpg);
}

.store h1{
    text-align:right;
    padding-right:40px;
}

.blog {
    background-image: url(../images/blogjpgbar.jpg);
}
		
.blog h1{
	text-align:left;
	padding-left:40px;
}


	 
